<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="product">Enter Product Name:</label>
                <input type="text" id="product" name="name" required>
                <label for="size">Number of products:</label>
                <input type="number" id="size" name="size" required>
            </div>

            <button class="Submit" type="submit">Add Product</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>