<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="/shop">Shop</a></li>
                <li class="main-header_item"><a  href="/admin/add-product">Add Product</a></li>
                <li class="main-header_item"><a class="active" href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header> 
    <main>
        <div class="container">
            <h3>Book a call</h3>
            <p>Book a call and our representative will call you in 1hr</p>
            <form class="contact-form" action="/success" method="post">
                <div class="form-control">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <button type="Submit">Get a Call</button>
            </form>
        </div>
    </main>
</body>
</html>